<%- include('partials/header.ejs') %>

<form action="/update" method="post">
    <label for="title">Title</label>
    <input type="hidden" name="id" value="<%= book.id %>">
    <input type="text" name="title" value="<%= book.title %>" id="title" placeholder="e.g. Atomic Habits">
    <label for="author">Author</label>
    <input type="text" name="author" value="<%= book.author %>" id="author" placeholder="e.g. James Clear">
    <label for="isbn">ISBN</label>
    <input type="text" name="isbn" value="<%= book.isbn %>" id="isbn" minlength="1" maxlength="13" placeholder="e.g. 9780735211292">
    <label for="rating">Rating</label>
    <input type="number" step="0.1" name="rating" value="<%= book.rating %>" id="rating" min="1" max="5" placeholder="1 to 5">
    <label for="notes">Notes</label>
    <textarea name="notes" id="notes" placeholder="What did you learn or think about this book?"><%= book.notes %></textarea>
    <% if(locals.error){ %> 
        <p class="err"><%=error%></p>
    <% } %>
    <input class="submit" type="submit" value="Submit">
</form>
<%- include('partials/footer.ejs') %>